body{
    background-color: black;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

.contenido{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-width: 200px;
    width: 100%;   
}